In [ ]:
# load karogs data
# tranform to dataframe with filename as index

# divide into 10 chunks
# save chunks to parquet files

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
src = Path(r"C:\Users\Valdis\Github\lnb_dom_transformations\temp\karogs_20222201_form.parquet")
# check if file exists
if src.exists():
    print(f"File {src} exists")
else:
    print(f"File {src} does not exist")

File C:\Users\Valdis\Github\lnb_dom_transformations\temp\karogs_20222201_form.parquet exists

In [3]:
# load data
df = pd.read_parquet(src)
df.head()

                       file_name  \
0  karo1940n01_005_plaintext_s01
1  karo1940n01_007_plaintext_s02
2  karo1940n01_008_plaintext_s03
3  karo1940n01_008_plaintext_s04
4  karo1940n01_009_plaintext_s05

                                                form
0  title : DARBU SĀKOT subheadline : author : Ž. ...
1  title : JAUNA DZIESMA subheadline : author : V...
2  title : PADOMJU ZEME subheadline : author : JĀ...
3  title : RĪTA DZIESMA subheadline : author : PĒ...
4  title : LOGI subheadline : author : ANDREJS UP...

In [4]:
df.head()

,file_name,form
0,karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...
1,karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...
2,karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...
3,karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...
4,karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...

In [5]:
# extract year from filename
df['year'] = df.file_name.str[4:8].astype(int)
df.head()

,file_name,form,year
0,karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940
1,karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940
2,karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940
3,karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940
4,karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940

In [6]:
df.year.describe()

count    37254.000000
mean      1973.155581
std         12.383421
min       1940.000000
25%       1966.000000
50%       1974.000000
75%       1982.000000
max       1995.000000
Name: year, dtype: float64

In [7]:
# extract issue
df['issue'] = df.file_name.str[9:11].astype(int)
df.head()

,file_name,form,year,issue
0,karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1
1,karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1
2,karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1
3,karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1
4,karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1

In [9]:
# describe issues
df.issue.describe()

count    37254.000000
mean         6.430960
std          3.440042
min          1.000000
25%          3.000000
50%          6.000000
75%          9.000000
max         12.000000
Name: issue, dtype: float64

In [11]:
# get page
# use regex to extract page number
df['page'] = df.file_name.str.extract(r'_(\d{1,3})_', expand=False).astype(int)
df.head()

,file_name,form,year,issue,page
0,karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5
1,karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7
2,karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8
3,karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8
4,karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9

In [12]:
# describe page
df.page.describe()

count    37254.000000
mean       122.915714
std         68.119991
min          1.000000
25%         67.000000
50%        130.000000
75%        187.000000
max        292.000000
Name: page, dtype: float64

In [14]:
# extract segment
# use regex to extract segment number
df['segment'] = df.file_name.str.extract(r'plaintext_s(\d{1,3})', expand=False).astype(int)
df.head()

,file_name,form,year,issue,page,segment
0,karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5,1
1,karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7,2
2,karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8,3
3,karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8,4
4,karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9,5

In [15]:
# get segment stats
df.segment.describe()

count    37254.000000
mean        39.548022
std         28.017673
min          1.000000
25%         16.000000
50%         34.000000
75%         59.000000
max        136.000000
Name: segment, dtype: float64

In [16]:
# use file_name as  index
df.set_index('file_name', inplace=True)
df.head()

,form,year,issue,page,segment
file_name,,,,,
karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5,1
karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7,2
karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8,3
karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8,4
karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9,5

In [17]:
# change form column to text
df.rename(columns={'form': 'text'}, inplace=True)
df.head()

,text,year,issue,page,segment
file_name,,,,,
karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5,1
karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7,2
karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8,3
karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8,4
karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9,5

In [18]:
# rename index to filename
df.index.name = 'filename'
df.head()

,text,year,issue,page,segment
filename,,,,,
karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5,1
karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7,2
karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8,3
karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8,4
karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9,5

In [19]:
df.shape

(37254, 5)

In [20]:
import numpy as np

In [22]:
# split df into 10 chunks
# save chunks to parquet files in data folder
chunksize = 4000
for i, chunk in enumerate(np.array_split(df, 10)):
    chunk.to_parquet(f"../data/tuve_karogs_20221214_{i}.parquet")
    print(f"Saved chunk {i} to file")

Saved chunk 0 to file
Saved chunk 1 to file
Saved chunk 2 to file
Saved chunk 3 to file
Saved chunk 4 to file
Saved chunk 5 to file
Saved chunk 6 to file
Saved chunk 7 to file
Saved chunk 8 to file
Saved chunk 9 to file