In [1]:
# For testing search results

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
def load_all_chunks_as_df(pattern='../data/tuve*.parquet'):
    df = pd.concat([pd.read_parquet(f) for f in Path().glob(pattern)])
    return df

In [4]:
df = load_all_chunks_as_df()
df.head()

,text,year,issue,page,segment
filename,,,,,
karo1940n01_005_plaintext_s01,title : DARBU SĀKOT subheadline : author : Ž. ...,1940,1,5,1
karo1940n01_007_plaintext_s02,title : JAUNA DZIESMA subheadline : author : V...,1940,1,7,2
karo1940n01_008_plaintext_s03,title : PADOMJU ZEME subheadline : author : JĀ...,1940,1,8,3
karo1940n01_008_plaintext_s04,title : RĪTA DZIESMA subheadline : author : PĒ...,1940,1,8,4
karo1940n01_009_plaintext_s05,title : LOGI subheadline : author : ANDREJS UP...,1940,1,9,5

In [8]:
df.year.min(), df.year.max()

(1945, 1994)

In [5]:
df.shape

(115240, 5)